@charset "UTF-8";
header{
  display: block;
}
.header-logo{
  width: 30%;
}
body{
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
header{
  width: 100%;
  height: 60px;
  background-color: coral;
}
header a:hover{
  opacity: 0.5;
  
}
.header-logo img{
  width: 10%;
  margin-left: 10px;
}
.header-list{
  display: flex;
  margin-right: 20px;
}
.header-all{
  display: flex;
  justify-content: space-between;
}
.header-list li{
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
 }
footer{
  height: 60px;
  background-color: rgb(138, 135, 135);
  width: 100%;
  text-align: center;
  color: #fff;
}
.footer-txt p{
  font-size: 15px;
  padding-top: 22px;
}
@media screen  and (max-width:480px){
  header .drawer{
    visibility: visible;
    width: 24px;
    right: 10px;
    top: 10px;
    position: absolute;
    border-top: solid 4px #666565;
    cursor: pointer;
    z-index: 100;
  }

  header .drawer::before,
  header .drawer::after{
    content: "";
    display: block;
    width: 24px;
    background: #666565;
    height: 4px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header .drawer:before{
    top: 6px;
  }
  header .drawer:after{
    top: 15px;
  }
  header .navbar{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 3;
    background: darkseagreen;
  }
  header .navbar ul{
    display: block;
    
    float: none;
    top: 20%;
  }
  header .navbar ul li{
    width: 40%;
    margin: 40px auto;
    
    padding-right: 0 ;
    border-right: none;
  }
  header .navbar ul li a{
    font-size: 25px;
    line-height: 0.5;
  }
  header .respons{
    visibility: visible;
  }
  body.nav-open header .drawer{
    border-top: 0;
  }
  body.nav-open header .drawer:before{
    top: 9px;
    transform: rotate(-45deg);
  }
  body.nav-open header .drawer:after{
    top: 9px;
    transform: rotate(45deg);
  }
  .header-logo img{
    width: 45%;
  }
  .header-list{
    margin-top: 150px;
  }
}
@media screen and (max-width:1025px) and (min-width:1000px) {
  .header-logo img{
    width: 16%;
  }
}

@media screen and (max-width:770px) and (min-width:700px) {
  .header-logo img{
    width: 20%;
  }
}